.button-primary {
    padding: 5px;
    background: #b8b8b8;
    border-color: 1px solid #b8b8b8;
    border-radius: 10px;

}
.aling-button-middle{
    width: 100%;
    text-align: center;
    margin-top: 20px
}
.mooddiaryButton{
    color: #ddd;
    border-radius: 10px;
   width: 30px;
   text-align: center;
   right: 7%;
   bottom: 7%;
   position: absolute;
   cursor: pointer;
   z-index: 999;

}